extends layoutBSMain

block content




  p Find your article!
  p &nbsp
  h1 Add a diary
  form(method="post" action="saveDiary")
      .formGroup
        label diary name
        input(type='text', name='diaryName')
      .formGroup
        label description
        textarea(rows='10', cols='80', name='description')
      input(type="submit")
  hr
  h3 List of All diary
  form(method="post" action="deleteDiary")
   ol
     each e in diaryInfo
       li
         input(name="deleteDiary", value=e.name, type="checkbox")
         e #{e.diaryName} --
         i #{e.description}
   input(type="submit" value="Delete checked items")
   hr
