extends layoutBS

block content
  p &nbsp

  .container
    .form-row
      .col-lg-4
        .card(style='width: 18rem;')
          img.rounded-circle(src='./images/photo1.jpg', alt='Card image cap', width='140', height='140')
          .card-body
            h5.card-title Diary
            p.card-text
              | Your life is beautiful. Your emotion is variable. Use your pen to record your everyday!

      .col-lg-4
        .card(style='width: 18rem;')
          img.rounded-circle(src='./images/photo2.jpg', alt='Card image cap',, width='140', height='140')
          .card-body
            h5.card-title Photo-Album
            p.card-text
              | Your life is beautiful. Your emotion is variable. Use your pen to record your everyday!

      .col-lg-4
        .card(style='width: 18rem;')
          img.rounded-circle(src='./images/photo3.jpg', alt='Card image cap',, width='140', height='140')
          .card-body
            h5.card-title Theater
            p.card-text
              | Your life is beautiful. Your emotion is variable. Use your pen to record your everyday!

  hr.featurette-divider
