extends layoutBS

block content
  .jumbotron.jumbotron-fluid
    .container.col
      h1= title
      p.lead
        | Start to build your own kingdom ...


  form
  .form-row
    .form-group.col-md-3
      label(for='inputAccount') Account
      input#inputAccount.form-control(type='email', placeholder='Email')
    .form-group.col-md-3
      label(for='inputPassword') Password
      input#inputPassword.form-control(type='password', placeholder='Password')
    .form-group.col-md-3
      label(for='inputPassword1') Confirm Your Password
      input#inputPassword1.form-control(type='password', placeholder='Re-type Your Password')

  .form-row
    .form-group.col-md-2
      label(for='inputFirstName') First Name
      input#inputFirstName.form-control(type='text')
    .form-group.col-md-1
      label(for='inputMiddle') Middle
      input#inputMiddle.form-control(type='text')
    .form-group.col-md-2
      label(for='inputLastName') Last Name
      input#inputLastName.form-control(type='text')
    .form-group.col-md-1
      label(for='inputGender') Gender
      select#inputGender.form-control
        option(selected='') Choose...
        option Male
        option Female
        option Others
    .form-group.col-md-1
      label(for='inputTitle') Title
      select#inputTitle.form-control
        option(selected='') Choose...
        option Dr.
        option Mr.
        option Mrs.
        option Miss.
        option Ms.
  .form-row
    .form-group.col-md-1
      label(for='inputMonth') Birthday
      input#inputMonth.form-control(type='text', placeholder='MM')
    .form-group.col-md-1
      label(for='inputDate') &nbsp
      input#inputDate.form-control(type='text', placeholder='DD')
    .form-group.col-md-1
      label(for='inputYears') &nbsp
      input#inputYears.form-control(type='text', placeholder='YYYY')
  .form-row
    .form-group.col-md-3
      label(for='inputEmailAddress') Email Address
      input#inputEmailAddress.form-control(type='text', placeholder='memorytrack@gmail.com')
      small#emailHelp.form-text.text-muted We&apos;ll never share your information with anyone else.
    .form-group.col-md-3
      label(for='inputPhoneNumber') Phone Number
      input#inputPhoneNumber.form-control(type='text', placeholder='123-456-7890')

  // Button trigger modal
  button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
    | Sign in
  // Modal
  #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Modal title
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          | Are you sure all the information are true?
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Join us!
