extends layoutBSMain

block content
  .jumbotron.jumbotron-fluid
    .container.col
      h1= title
      p.lead.col
        | Welcome to #{title}. A kingdom only belongs to you

  p

  form
    .form-row
      .form-group.col-md-2
        .form-group.col
          label(for='inputKeywords') Location
          input#inputYears.form-control(type='text')
        .form-group.col
          label(for='inputKeywords') Keyword
          input#inputYears.form-control(type='text')
        button.btn.btn-primary(type='Login') Search
      .form-group
        .container
          .row
            .col
              video(width='320', height='240', controls='')
                source(src='./videos/video1.m4v', type='video/mp4')
            .col
              video(width='320', height='240', controls='')
                source(src='./videos/video2.mp4', type='video/mp4')
            .col
              video(width='320', height='240', controls='')
                source(src='./videos/video6.mov', type='video/mp4')
          .row
            .col
              video(width='320', height='240', controls='')
                source(src='./videos/video3.mov', type='video/mp4')
            .col
              video(width='320', height='240', controls='')
                source(src='./videos/video4.m4v', type='video/mp4')
            .col
              video(width='320', height='240', controls='')
                source(src='./videos/video5.m4v', type='video/mp4')
  nav.col-sm-7(aria-label='Page navigation example')
    ul.pagination
      li.page-item
        a.page-link(href='#', aria-label='Previous')
          span(aria-hidden='true') &laquo;
          span.sr-only Previous
      li.page-item
        a.page-link(href='#') 1
      li.page-item
        a.page-link(href='#') 2
      li.page-item
        a.page-link(href='#') 3
      li.page-item
        a.page-link(href='#') ...
      li.page-item
        a.page-link(href='#', aria-label='Next')
          span(aria-hidden='true') &raquo;
          span.sr-only Next
